<div class="login-wrapper">
    <div class="login-overlay"></div>
    <div class="login-container">
      <div class="login-card">
        <h1 class="title">Peak Point</h1>
        <p class="subtitle">
          Welcome to the <strong>Peakpoint Software Technologies </strong>
        </p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <span class="p-input-icon-left mb-3 w-full">
    <i class="pi pi-user"></i>
    <input
        type="text"
        pInputText
        formControlName="employeeCode"
        placeholder="Employee Code"
        class="w-full"
        autocomplete="username"
    />
  </span>

              <span class="p-input-icon-left mb-3 w-full">
                <i class="pi pi-key"></i>
                <input
                    type="password"
                    pInputText
                    formControlName="password"
                    placeholder="Password"
                    class="w-full"
                    autocomplete="current-password"
                />
              </span>

              <button type="submit" pButton label="Sign In" class="w-full mb-3"></button>
              <small class="p-error" *ngIf="loginError">
                  <i class="pi pi-exclamation-circle"></i>
                  Invalid username or password.
              </small>

          </form>

          <!--          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">-->
<!--        <span class="p-input-icon-left mb-3 w-full">-->
<!--          <i class="pi pi-user"></i>-->
<!--          <input type="text" pInputText placeholder="Employee Code" class="w-full" />-->
<!--        </span>-->

<!--        <span class="p-input-icon-left mb-3 w-full">-->
<!--          <i class="pi pi-key"></i>-->
<!--          <input type="password" pInputText placeholder="Password" class="w-full" />-->
<!--        </span>-->

<!--        <button [routerLink]="['/dashboard']" pButton label="Sign In" class="w-full mb-3"></button>-->
<!--          </form>-->
        <div class="divider">or sign in with</div>

        <div class="social-buttons">
          <a href="https://facebook.com"><i class="pi pi-facebook"></i></a>
          <a href="https://twitter.com"><i class="pi pi-twitter"></i></a>
          <a href="https://google.com"><i class="pi pi-google"></i></a>
          <a href="https://github.com"><i class="pi pi-github"></i></a>
        </div>
      </div>
    </div>
  </div>

  <app-config [minimal]="true"></app-config>
