<div class="form-container" style="max-height: 80vh; overflow-y: auto; padding-right: 1rem;">
    <form [formGroup]="profileForm" (ngSubmit)="save()">
        <div class="card">
            <div class="flex items-center mb-5">
                <span class="text-900 text-xl font-bold mr-2">Product Setup</span>
                <p-tag icon="pi pi-info-circle" severity="info" value="Peak Point"></p-tag>
            </div>

            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-4">
                    <label for="productName" class="font-medium text-900 required">Product Name</label>
                    <input id="name" type="text" pInputText formControlName="name"
                           [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('name')?.invalid && profileForm.get('name')?.touched }" />
                    <small class="p-error" *ngIf="profileForm.get('name')?.touched && profileForm.get('name')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Product Name is required.
                    </small>
                </div>


                <div class="field mb-4 col-12 md:col-4">
                    <label for="planCode" class="font-medium text-900 required">Plan Code</label>
                    <input id="plan_code" type="text" pInputText formControlName="plan_code"
                           [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('plan_code')?.invalid && profileForm.get('plan_code')?.touched }" />
                    <small class="p-error" *ngIf="profileForm.get('plan_code')?.touched && profileForm.get('plan_code')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Plan Code is required.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="productType" class="font-medium text-900 required">Product Type</label>
                    <p-dropdown inputId="type" [options]="productTypes" optionLabel="name" optionValue="code" [filter]="true"
                                formControlName="type" placeholder="Select Product Type"
                                [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('type')?.invalid && profileForm.get('type')?.touched }"></p-dropdown>
                    <small class="p-error" *ngIf="profileForm.get('type')?.touched && profileForm.get('type')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Product Type is required.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="uinNumber" class="font-medium text-900 required">UIN Number</label>
                    <input id="uinNumber" type="text" pInputText formControlName="uinNumber"
                           [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('uinNumber')?.invalid && profileForm.get('uinNumber')?.touched }" />
                    <small class="p-error" *ngIf="profileForm.get('uinNumber')?.touched && profileForm.get('uinNumber')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        UIN Number is required.
                    </small>
                </div>

                <!--        <div class="field mb-4 col-12 md:col-4">-->
                <!--          <label for="intermediary" class="font-medium text-900 required">Intermediary</label>-->
                <!--          <p-dropdown id="intermediary" [options]="intermediatries" optionLabel="name" optionValue="code"-->
                <!--                      formControlName="intermediary" placeholder="Select Intermediary"-->
                <!--                      [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('intermediary')?.invalid && profileForm.get('intermediary')?.touched }"></p-dropdown>-->
                <!--          <small class="p-error" *ngIf="profileForm.get('intermediary')?.touched && profileForm.get('intermediary')?.invalid">-->
                <!--            <i class="pi pi-exclamation-circle"></i>-->
                <!--            Intermediary is required.-->
                <!--          </small>-->
                <!--        </div>-->
                <div class="field mb-4 col-12 md:col-4">
                    <label for="intermediary" class="font-medium text-900 required">Intermediary</label>
                    <p-multiSelect id="intermediary" [options]="intermediatries" optionLabel="name" optionValue="code"
                                   formControlName="intermediary" placeholder="Select Intermediary"
                                   [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('intermediary')?.invalid && profileForm.get('intermediary')?.touched }"></p-multiSelect>
                    <small class="p-error" *ngIf="profileForm.get('intermediary')?.touched && profileForm.get('intermediary')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        At least one intermediary is required.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="frequency" class="font-medium text-900 required">Frequency</label>
                    <p-multiSelect id="frequency" [options]="frequency" optionLabel="name" optionValue="code"
                                   formControlName="frequency" placeholder="Select Frequency"
                                   [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('frequency')?.invalid && profileForm.get('frequency')?.touched }"></p-multiSelect>
                    <small class="p-error" *ngIf="profileForm.get('frequency')?.touched && profileForm.get('frequency')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Frequency is required.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #ageAtEntryComponent
                                         actualMinValue="21"
                                         actualMaxValue="99"
                                         fieldName="Age At Entry"
                                         (valueChange)="updateMinMaxValues('ageAtEntry', $event)"
                    ></app-min-max-display>
                </div>


                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #maturityAgeComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Maturity Age"
                                         (valueChange)="updateMinMaxValues('maturityAge', $event)"
                    ></app-min-max-display>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #regularPremiumComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Regular Premium"
                                         (valueChange)="updateMinMaxValues('regularPremium', $event)"
                    ></app-min-max-display>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="premiumType" class="font-medium text-900 required">Premium Type</label>
                    <p-multiSelect id="premiumtype" [options]="paymentOptions" optionLabel="name" optionValue="code"
                                   formControlName="premiumtype" placeholder="Select Premium Type"
                                   [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('premiumtype')?.invalid && profileForm.get('premiumtype')?.touched }"></p-multiSelect>
                    <small class="p-error" *ngIf="profileForm.get('premiumtype')?.touched && profileForm.get('premiumtype')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Premium Type is required.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="limitedPremium1" class="font-medium text-900 required">Limited Premium 1</label>
                    <input id="limitedPremium1" type="number" pInputText formControlName="limitedPremium1"
                           [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('limitedPremium1')?.invalid && profileForm.get('limitedPremium1')?.touched }" />
                    <small class="p-error" *ngIf="profileForm.get('limitedPremium1')?.touched && profileForm.get('limitedPremium1')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Limited Premium 1 must be a 2-digit number between 10 and 99.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="limitedPremium2" class="font-medium text-900 required">Limited Premium 2</label>
                    <input id="limitedPremium2" type="number" pInputText formControlName="limitedPremium2"
                           [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('limitedPremium2')?.invalid && profileForm.get('limitedPremium2')?.touched }" />
                    <small class="p-error" *ngIf="profileForm.get('limitedPremium2')?.touched && profileForm.get('limitedPremium2')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Limited Premium 2 must be a 2-digit number between 10 and 99.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="limitedPremium3" class="font-medium text-900 required">Limited Premium 3</label>
                    <input id="limitedPremium3" type="number" pInputText formControlName="limitedPremium3"
                           [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('limitedPremium3')?.invalid && profileForm.get('limitedPremium3')?.touched }" />
                    <small class="p-error" *ngIf="profileForm.get('limitedPremium3')?.touched && profileForm.get('limitedPremium3')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Limited Premium 3 must be a 2-digit number between 10 and 99.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="limitedPremium4" class="font-medium text-900 required">Limited Premium 4</label>
                    <input id="limitedPremium4" type="number" pInputText formControlName="limitedPremium4"
                           [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('limitedPremium4')?.invalid && profileForm.get('limitedPremium4')?.touched }" />
                    <small class="p-error" *ngIf="profileForm.get('limitedPremium4')?.touched && profileForm.get('limitedPremium4')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Limited Premium 4 must be a 2-digit number between 10 and 99.
                    </small>
                </div>

                <div class="col-12 md:col-4 field">
                    <label for="launchDate" class="text-900 required">Product Launch Date</label>
                    <p-calendar formControlName="launchDate" dateFormat="mm-dd-yy" [showIcon]="true"
                                [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('launchDate')?.invalid && profileForm.get('launchDate')?.touched }"></p-calendar>
                    <small class="p-error" *ngIf="profileForm.get('launchDate')?.touched && profileForm.get('launchDate')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Launch Date is required.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #policyTermComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Policy Term"
                                         (valueChange)="updateMinMaxValues('policyTerm', $event)"
                    ></app-min-max-display>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #installmentPremiumYearlyComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Installment Premium Yearly"
                                         (valueChange)="updateMinMaxValues('installmentPremiumYearly', $event)"
                    ></app-min-max-display>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #installmentPremiumHalfYearlyComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Installment Premium Half Yearly"
                                         (valueChange)="updateMinMaxValues('installmentPremiumHalfYearly', $event)"
                    ></app-min-max-display>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #installmentPremiumQuarterlyComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Installment Premium Quarterly"
                                         (valueChange)="updateMinMaxValues('installmentPremiumQuarterly', $event)"
                    ></app-min-max-display>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #installmentPremiumMonthlyComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Installment Premium Monthly"
                                         (valueChange)="updateMinMaxValues('installmentPremiumMonthly', $event)"
                    ></app-min-max-display>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #singlePremiumAmountComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Single Premium Amount"
                                         (valueChange)="updateMinMaxValues('singlePremiumAmount', $event)"
                    ></app-min-max-display>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #annuityPurchasePriceComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Annuity Purchase Price"
                                         (valueChange)="updateMinMaxValues('annuityPurchasePrice', $event)"
                    ></app-min-max-display>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <app-min-max-display #sumAssuredComponent
                                         actualMinValue="41"
                                         actualMaxValue="99"
                                         fieldName="Sum Assured"
                                         (valueChange)="updateMinMaxValues('sumAssured', $event)"
                    ></app-min-max-display>
                </div>

                <div class="col-12 md:col-4 field">
                    <label for="exitDate" class="text-900 required">Product Exit Date</label>
                    <p-calendar formControlName="exitDate" dateFormat="mm-dd-yy" [showIcon]="true"
                                [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('exitDate')?.invalid && profileForm.get('exitDate')?.touched }"></p-calendar>
                    <small class="p-error" *ngIf="profileForm.get('exitDate')?.touched && profileForm.get('exitDate')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Exit Date is required.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="clawBack" class="font-medium text-900 required">Claw Back</label>
                    <p-dropdown id="clawBack" [options]="applicable" optionLabel="name" optionValue="code"
                                formControlName="clawBack" placeholder="Select Claw Back"
                                [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('clawBack')?.invalid && profileForm.get('clawBack')?.touched }"></p-dropdown>
                    <small class="p-error" *ngIf="profileForm.get('clawBack')?.touched && profileForm.get('clawBack')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Claw Back is required.
                    </small>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="chequeClearance" class="font-medium text-900 required">Cheque Clearance</label>
                    <p-dropdown id="chequeClearance" [options]="applicable" optionLabel="name" optionValue="code"
                                formControlName="chequeClearance" placeholder="Select Cheque Clearance"
                                [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('chequeClearance')?.invalid && profileForm.get('chequeClearance')?.touched }"></p-dropdown>
                    <small class="p-error" *ngIf="profileForm.get('chequeClearance')?.touched && profileForm.get('chequeClearance')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Claw Back is required.
                    </small>
                </div>

                <!--        <div class="col-12 md:col-4 field" style="padding-top: 30px;!important">-->
                <!--            <p-checkbox-->
                <!--                formControlName="bonusCommissionEligibility"-->
                <!--                name="bonusCommissionEligibility"-->
                <!--                [binary]="true"-->
                <!--                label="Bonus Commission Eligibility"-->
                <!--                class="text-900"-->
                <!--                inputId="bonusCommissionEligibilityCheckbox">-->
                <!--            </p-checkbox>-->
                <!--        </div>-->

                <div class="col-12 md:col-4 field" style="padding-top: 30px;!important">
                    <p-checkbox formControlName="bonusCommissionEligibility"
                                [binary]="true"
                                label="Bonus Commission Eligibility"
                                class="text-900"
                                inputId="bonusCommissionEligibilityCheckbox"
                                (onChange)="onBonusEligibilityChange($event)">
                    </p-checkbox>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="bonusCommissionPercentage" class="font-medium text-900 required">Bonus Commission Percentage</label>
                    <input
                        id="bonusCommissionPercentage"
                        type="number"
                        pInputText
                        formControlName="bonusCommissionPercentage"
                        [ngClass]="{
            'ng-invalid ng-dirty': profileForm.get('bonusCommissionPercentage')?.invalid &&
                                   profileForm.get('bonusCommissionPercentage')?.touched
        }"
                    />
                    <small
                        class="p-error"
                        *ngIf="profileForm.get('bonusCommissionPercentage')?.touched && profileForm.get('bonusCommissionPercentage')?.invalid">
                        <i class="pi pi-exclamation-circle"></i>
                        Bonus Commission Percentage must be a numeric value.
                    </small>
                </div>



            </div>

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">

                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple class="p-button-danger p-button-outlined mr-2" label="Discard" (click)="discard()"
                            icon="pi pi-fw pi-trash"></button>
                    <button pButton pRipple class="p-button-primary border-round" label="Save" type="submit" (click)="save()"
                            icon="pi pi-fw pi-check"></button>
                </ng-template>
            </p-toolbar>
        </div>
    </form>
</div>
