<form [formGroup]="profileForm" (ngSubmit)="save()">
    <div class="card">
      <span class="text-900 text-xl font-bold mb-4 block">Product Setup</span>

      <div class="grid formgrid p-fluid">
        <div class="field mb-4 col-12 md:col-4">
          <label for="productName" class="font-medium text-900 required">Product Name</label>
          <input id="productName" type="text" pInputText formControlName="productName"
                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('productName')?.invalid && profileForm.get('productName')?.touched }" />
          <small class="p-error" *ngIf="profileForm.get('productName')?.touched && profileForm.get('productName')?.invalid">
            <i class="pi pi-exclamation-circle"></i>
            Product Name is required.
          </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="productType" class="font-medium text-900 required">Product Type</label>
          <p-dropdown inputId="productType" [options]="productTypes" optionLabel="name" optionValue="code" [filter]="true"
                      formControlName="productType" placeholder="Select Product Type"
                      [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('productType')?.invalid && profileForm.get('productType')?.touched }"></p-dropdown>
          <small class="p-error" *ngIf="profileForm.get('productType')?.touched && profileForm.get('productType')?.invalid">
            <i class="pi pi-exclamation-circle"></i>
            Product Type is required.
          </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="uinNumber" class="font-medium text-900 required">UIN Number</label>
          <input id="uinNumber" type="text" pInputText formControlName="uinNumber"
                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('uinNumber')?.invalid && profileForm.get('uinNumber')?.touched }" />
          <small class="p-error" *ngIf="profileForm.get('uinNumber')?.touched && profileForm.get('uinNumber')?.invalid">
            <i class="pi pi-exclamation-circle"></i>
            UIN Number is required.
          </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="intermediary" class="font-medium text-900 required">Intermediary</label>
          <p-dropdown id="intermediary" [options]="intermediatries" optionLabel="name" optionValue="code"
                      formControlName="intermediary" placeholder="Select Intermediary"
                      [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('intermediary')?.invalid && profileForm.get('intermediary')?.touched }"></p-dropdown>
          <small class="p-error" *ngIf="profileForm.get('intermediary')?.touched && profileForm.get('intermediary')?.invalid">
            <i class="pi pi-exclamation-circle"></i>
            Intermediary is required.
          </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="frequency" class="font-medium text-900 required">Frequency</label>
          <p-dropdown id="frequency" [options]="frequency" optionLabel="name" optionValue="code"
                      formControlName="frequency" placeholder="Select Frequency"
                      [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('frequency')?.invalid && profileForm.get('frequency')?.touched }"></p-dropdown>
          <small class="p-error" *ngIf="profileForm.get('frequency')?.touched && profileForm.get('frequency')?.invalid">
            <i class="pi pi-exclamation-circle"></i>
            Frequency is required.
          </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="ageAtEntry" class="font-medium text-900 required">Age at Entry</label>
          <input id="ageAtEntry" type="number" pInputText formControlName="ageAtEntry"
                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('ageAtEntry')?.invalid && profileForm.get('ageAtEntry')?.touched }" />
          <small class="p-error" *ngIf="profileForm.get('ageAtEntry')?.touched && profileForm.get('ageAtEntry')?.invalid">
            <i class="pi pi-exclamation-circle"></i>
            Valid age is required (0-120).
          </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="maturityAge" class="font-medium text-900 required">Maturity Age</label>
          <input id="maturityAge" type="number" pInputText formControlName="maturityAge"
                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('maturityAge')?.invalid && profileForm.get('maturityAge')?.touched }" />
          <small class="p-error" *ngIf="profileForm.get('maturityAge')?.touched && profileForm.get('maturityAge')?.invalid">
            <i class="pi pi-exclamation-circle"></i>
            Maturity Age is required.
          </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="premiumTerm" class="font-medium text-900 required">Premium Term</label>
          <input id="premiumTerm" type="number" pInputText formControlName="premiumTerm"
                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('premiumTerm')?.invalid && profileForm.get('premiumTerm')?.touched }" />
            <small class="p-error" *ngIf="profileForm.get('premiumTerm')?.touched && profileForm.get('premiumTerm')?.invalid">
                <i class="pi pi-exclamation-circle"></i>
                Premium Term is required.
            </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="limitedPremiumTerm" class="font-medium text-900 required">Limited Premium Term</label>
          <input id="limitedPremiumTerm" type="number" pInputText formControlName="limitedPremiumTerm"
                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('limitedPremiumTerm')?.invalid && profileForm.get('limitedPremiumTerm')?.touched }" />
            <small class="p-error" *ngIf="profileForm.get('limitedPremiumTerm')?.touched && profileForm.get('limitedPremiumTerm')?.invalid">
                <i class="pi pi-exclamation-circle"></i>
                Limited Premium Term is required.
            </small>
        </div>

          <div class="field mb-4 col-12 md:col-4">
              <label for="installmentType" class="font-medium text-900 required">Payment Options</label>
              <p-dropdown id="installmentType" [options]="paymentOptions" optionLabel="name" optionValue="code"
                          formControlName="installmentType" placeholder="Select Payment Options"
                          [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('paymentOptions')?.invalid && profileForm.get('installmentType')?.touched }"></p-dropdown>
              <small class="p-error" *ngIf="profileForm.get('installmentType')?.touched && profileForm.get('installmentType')?.invalid">
                  <i class="pi pi-exclamation-circle"></i>
                  Payment Options is required.
              </small>
          </div>
<!--        <div class="field mb-4 col-12 md:col-8">-->
<!--          <label class="font-medium text-900 required">Choose One</label>-->
<!--          <p-selectButton [options]="paymentOptions"-->
<!--          formControlName="chooseOne"  optionLabel="name"-->
<!--          optionValue="value"-->
<!--                          [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('chooseOne')?.invalid && profileForm.get('chooseOne')?.touched }"></p-selectButton>-->
<!--          <small class="p-error" *ngIf="profileForm.get('chooseOne')?.touched && profileForm.get('chooseOne')?.invalid">-->
<!--            <i class="pi pi-exclamation-circle"></i>-->
<!--            Selection is required.-->
<!--          </small>-->
<!--        </div>-->

        <div class="field mb-4 col-12 md:col-4">
          <label for="installmentPremium" class="font-medium text-900 required">Installment Premium</label>
          <input id="installmentPremium" type="number" pInputText formControlName="installmentPremium"
                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('installmentPremium')?.invalid && profileForm.get('installmentPremium')?.touched }" />
            <small class="p-error" *ngIf="profileForm.get('installmentPremium')?.touched && profileForm.get('installmentPremium')?.invalid">
                <i class="pi pi-exclamation-circle"></i>
                Installment Premium is required.
            </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="singlePremium" class="font-medium text-900 required">Single Premium</label>
          <input id="singlePremium" type="number" pInputText formControlName="singlePremium"
                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('singlePremium')?.invalid && profileForm.get('singlePremium')?.touched }" />
            <small class="p-error" *ngIf="profileForm.get('singlePremium')?.touched && profileForm.get('singlePremium')?.invalid">
                <i class="pi pi-exclamation-circle"></i>
                Single Premium is required.
            </small>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="sumAssured" class="font-medium text-900 required">Sum Assured</label>
          <input id="sumAssured" type="number" pInputText formControlName="sumAssured"
                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('sumAssured')?.invalid && profileForm.get('sumAssured')?.touched }" />
            <small class="p-error" *ngIf="profileForm.get('sumAssured')?.touched && profileForm.get('sumAssured')?.invalid">
                <i class="pi pi-exclamation-circle"></i>
                Sum Assured is required.
            </small>
        </div>

<!--        <div class="field mb-4 col-12 md:col-4">-->
<!--          <label for="launchDateInput" class="font-medium text-900 required">Launch Date (Input)</label>-->
<!--          <input id="launchDateInput" type="text" pInputText formControlName="launchDateInput"-->
<!--                 [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('launchDateInput')?.invalid && profileForm.get('launchDateInput')?.touched }" />-->
<!--            <small class="p-error" *ngIf="profileForm.get('launchDateInput')?.touched && profileForm.get('launchDateInput')?.invalid">-->
<!--                <i class="pi pi-exclamation-circle"></i>-->
<!--                Launch Date Input is required.-->
<!--            </small>-->
<!--        </div>-->

        <div class="col-12 md:col-4 field">
          <label for="launchDate" class="text-900 required">Product Launch Date</label>
          <p-calendar formControlName="launchDate" dateFormat="mm-dd-yy" [showIcon]="true"
                      [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('launchDate')?.invalid && profileForm.get('launchDate')?.touched }"></p-calendar>
            <small class="p-error" *ngIf="profileForm.get('launchDate')?.touched && profileForm.get('launchDate')?.invalid">
                <i class="pi pi-exclamation-circle"></i>
                Launch Date is required.
            </small>
        </div>

        <div class="col-12 md:col-4 field">
          <label for="exitDate" class="text-900 required">Product Exit Date</label>
          <p-calendar formControlName="exitDate" dateFormat="mm-dd-yy" [showIcon]="true"
                      [ngClass]="{ 'ng-invalid ng-dirty': profileForm.get('exitDate')?.invalid && profileForm.get('exitDate')?.touched }"></p-calendar>
            <small class="p-error" *ngIf="profileForm.get('exitDate')?.touched && profileForm.get('exitDate')?.invalid">
                <i class="pi pi-exclamation-circle"></i>
                Exit Date is required.
            </small>
        </div>
        <div class="col-12 md:col-4 field" style="padding-top: 30px;!important">
            <p-checkbox name="checkbox-1"  [binary]="true" label="Claw Back" class="text-900" inputId="id"></p-checkbox>
        </div>
      </div>

      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">

        </ng-template>
        <ng-template pTemplate="right">
          <button pButton pRipple class="p-button-danger p-button-outlined mr-2" label="Discard" (click)="discard()"
                  icon="pi pi-fw pi-trash"></button>
          <button pButton pRipple class="p-button-primary border-round" label="Save" type="submit"
                  icon="pi pi-fw pi-check"></button>
        </ng-template>
      </p-toolbar>
    </div>
  </form>
